/* GLOBALS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: black;
    opacity: .5;
    color: white;
}

p,
a {
    font-size: 1.1rem;
}

a {
    color: white;
}

/* NAVBAR */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
}

.logo img {
    height: 50px;
    margin-left: 10px;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    width: 350px;
}

.nav ul a:hover {
    text-decoration: none;
}

/* BANNER */

.banner {
    display: flex;
    align-items: center;
    width: 84%;
    height: 700px;
    background-image: url(../assets/img-mission-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
}

#mission {
    background-color: black;
    width: 100%;
    text-align: center;
}

#mission h2 {
    margin-top: .9rem;
}

#mission h4 {
    text-transform: capitalize;
    margin: .9rem 0;
}

/* MAIN SECTION */

#featured-tea {
    width: 69%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;

}

.marketing {
    text-align: center;
    margin-bottom: 1.7rem;
    line-height: 2.8rem;
}

.galery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product img {
    width: 300px;
    height: 200px;
}

figcaption {
    text-align: center;
    margin: .8rem 0 1.1rem 0;
}

/* LOCATION SECTION */

#locations {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 84%;
    height: 550px;
    margin: auto;
    background-image: url(../assets/img-locations-background.jpg);
    background-position: center;
    background-size: cover;
}

.cards-location {
    width: 85%;
    display: flex;
    justify-content: space-around;
}

.location {
    background-color: black;
    width: 30%;
    text-align: center;
}

.location h3,
.location p {
    margin: 1.45rem 0;
}

#locations h2 {
    margin: 1.1rem 0;
    color: white;
}

/* FOOTER */

.contact {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

footer p {
    margin: 1.1rem;
}

/* RESPONSIVE */

@media only screen and (max-width: 973px) {
    html {
        font-size: 17px;
    }

    .cards-location {
        width: 95%;
    }
}

@media only screen and (max-width: 666px) {
    html {
        font-size: 16px;
    }

    .banner {
        height: 570px;
    }

    .location h3,
    .location p {
        margin: 1rem 0;
    }

    #locations {
        height: 450px;
    }

    .nav ul {
        width: 275px;
    }
}

@media only screen and (max-width:460px) {
    html {
        font-size: 14px;
    }

    nav {
        height: 46px;
    }

    .logo img {
        height: 30px;
    }

    .nav ul {
        display: none;
    }

    .banner {
        width: 95%;
        height: 550px;
    }

    #featured-tea {
        width: 90%;
    }

    #locations {
        height: 300px;
        width: 95%;
    }

    .cards-location {
        width: 95%;
    }

    .location h3,
    .location p {
        margin: .8rem 0;
    }

    .contact {
        height: 110px;
    }
}