/* GLOBALS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    background-color: black;
}

h2,
h4,
p,
a {
    color: gray;
}

/* NAVBAR */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
}

.logo img {
    height: 50px;
    margin-left: 10px;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    width: 350px;
}

/* BANNER */

.banner {
    display: flex;
    align-items: center;
    height: 700px;
    width: 1200px;
    background-image: url(../assets/img-mission-background.jpg);
    background-size: cover;
    margin: auto;
}

.mission {
    background-color: black;
    width: 100%;
    text-align: center;
}

.mission h2 {
    margin-top: 15px;
}

.mission h4 {
    text-transform: capitalize;
    margin: 15px 0;
}