/* GLOBALS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: black;
    opacity: .5;
    color: white;
    font-size: 1.125rem;
}

a {
    color: white;
}

/* NAVBAR */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.3125rem;
    min-width: 79.5rem;
    border-bottom: 1px solid seashell;
}

.logo img {
    height: 3.125rem;
    margin-left: .625rem;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    margin-right: .625rem;
    min-width: 24rem;
}

.nav ul a:hover {
    text-decoration: none;
}

/* BANNER */

.banner {
    display: flex;
    align-items: center;
    width: 80rem;
    height: 43.75rem;
    background-image: url(../assets/img-mission-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
}

#mission {
    background-color: black;
    width: 80rem;
    text-align: center;
}

#mission h2 {
    margin-top: .9rem;
}

#mission h4 {
    text-transform: capitalize;
    margin: .9rem 0;
}

/* MAIN SECTION */

#featured-tea {
    min-width: 80rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.marketing {
    text-align: center;
    margin-bottom: 1.7rem;
}

.marketing h2 {
    margin-bottom: .9rem;
}

.galery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 70rem;
    margin: auto;
}

.product {
    width: 22rem;
    height: 20rem;
    overflow: hidden;
}

.product img {
    max-width: 100%;
    height: auto;
    display: block;
}

figcaption {
    text-align: center;
    margin: .8rem 0 1.1rem 0;
}

/* LOCATION SECTION */

#locations {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80rem;
    height: 34.375rem;
    margin: auto;
    background-image: url(../assets/img-locations-background.jpg);
    background-position: center;
    background-size: cover;
}

.cards-location {
    width: 60rem;
    display: flex;
    justify-content: space-around;
}

.location {
    background-color: black;
    width: 17rem;
    text-align: center;
}

.location h3,
.location p {
    margin: 1.5rem 0;
}

#locations h2 {
    font-size: 2.5rem;
    margin: 1.5rem 0;
}

/* FOOTER */

.contact {
    min-width: 80rem;
    height: 12.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin-top: 1.1rem;
}

footer p {
    margin: 0 0 1.1rem .625rem;
}

/* RESPONSIVE */

@media only screen and (max-width: 426px) {
    body {
        font-size: 1.5rem;
    }

    .galery {
        flex-direction: column;
        align-items: center;
    }

    .product {
        width: 62rem;
        height: 50rem;
    }

    figcaption {
        font-size: 2rem;
        margin-top: 2.5rem;
    }

}